// media vars
$laptop-big: 1800px;
$laptop: 1440px;
$laptop-small: 1200px;
$tablet: 1024px;
$mobile: 600px;
$mobile-small: 375px;

$main-blue-color: #285193;
$text-color: #40414d;
$background-color: #f1f1f1;
$box-color: #fff;

$transition: all 0.5s ease-in-out;

$second-family: "Montserrat", sans-serif;
