@import "normalize.scss";
@import "_mixins.scss";
@import "_vars.scss";

/* Montserrat Thin */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Montserrat ExtraLight */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Light */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Medium */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Montserrat SemiBold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Montserrat ExtraBold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Black */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: inherit;
  transition: inherit;
  scrollbar-width: thin;
}

html {
  scrollbar-width: thin;
  background: $background-color;
  font-size: 16px;
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  font-family: $second-family;
  font-style: normal;
  color: $box-color;
  line-height: normal;
  font-weight: 400;
  max-width: 100%;
  width: 100%;
  position: relative;
  scrollbar-width: thin;
}
main {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include mobile {
    padding: 0 16px;
  }
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  outline: none;
  resize: none;
  text-align: left;
  background: none;
  font-size: 1rem;
  border-radius: 0;
}

input::placeholder {
  opacity: 1;
}

label {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  transition: opacity 1s ease-in-out;
  display: inline-block;
  cursor: pointer;
}

ul {
  padding: 0;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 138%;
  color: $text-color;
  font-weight: 500;
  span {
    font-weight: 700;
  }
  a {
    color: $box-color;
  }
}
a {
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  display: inline;
  color: inherit;
  letter-spacing: 0.01em;
  &:hover {
    opacity: 0.5;
  }
}

textarea {
  resize: none;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 0;
  }
}

ul {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  max-width: 100%;
  width: 100%;
  background: none;
  border: none;
  line-height: normal;
  font-size: 1rem;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

input:disabled {
  opacity: 0.4;
  pointer-events: none;
}

textarea:focus {
  outline: none;
}
.hidden {
  opacity: 0;
}

section {
  scroll-margin-top: 10rem;
}

// elements

.fw {
  &-4 {
    font-weight: 400;
  }
  &-5 {
    font-weight: 500;
  }
  &-6 {
    font-weight: 600;
  }
  &-7 {
    font-weight: 700;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  border: 1px solid #315494;
  border-radius: 24px;
  transition: $transition;
  background: $box-color;
  &:hover {
    opacity: 1;
    background: #315494;
    .link__text {
      color: $box-color;
    }
    svg {
      color: $box-color;
    }
  }

  &__text {
    font-family: $second-family;
    font-weight: 600;
    font-size: 14px;
    color: #315494;
  }
  svg {
    color: #315494;
  }
  &--blue {
    border-color: $box-color;
    background: #315494;
    &:hover {
      background: $box-color;
      .link__text {
        color: #315494;
      }
      svg {
        color: #315494;
      }
    }
    .link__text {
      color: $box-color;
    }
    svg {
      color: $box-color;
    }
  }
  @include mobile {
    padding: 10px 24px;
    &__text {
      font-size: 12px;
    }
  }
}

.title {
  font-family: $second-family;
  font-weight: 700;
  font-size: 32px;
  color: $text-color;
  span {
    color: #315494;
  }
  @include mobile {
    font-size: 24px;
    br {
      display: none;
    }
  }
}

.header {
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 6;
  transition: all 0.5s ease;
  padding: 24px;
  &--scroll {
    backdrop-filter: blur(4px);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    background: rgba(241, 241, 241, 0.8);
  }
  &__top {
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 24px;
    position: relative;
    z-index: 6;
  }

  &__logo {
    max-width: 100%;
    width: 100%;
    background: $box-color;
    display: flex;
    align-items: center;
    padding: 22.5px 24px;
    border-radius: 24px;
    background: $box-color;
    &-text {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.02em;
      color: #315494;
    }
  }

  &__contacts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 684px;
    width: 100%;
    flex-shrink: 0;
  }

  &__contact {
    border-radius: 24px;
    width: 100%;
    background: $box-color;
    font-family: $second-family;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 1;
      background: $main-blue-color;
      color: $box-color;
    }
  }
  @include laptop-small {
    &__contacts {
      flex-shrink: 1;
    }
    &__logo {
      flex-shrink: 2;
      max-width: 142px;
    }
  }

  @include mobile {
    padding: 16px 16px 24px 16px;
    &__logo {
      width: 100%;
      max-width: 100%;
    }
  }
}

.burger {
  display: flex;
  align-items: center;
  padding: 24px;
  max-width: 212px;
  min-width: 160px;
  border-radius: 24px;
  width: 100%;
  background: $box-color;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 1;
    background: $main-blue-color;
    .burger__text {
      color: $box-color;
    }
    .burger__icon {
      color: $box-color;
    }
  }
  &__text {
    font-family: $second-family;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    color: $text-color;
  }
  &__icon {
    display: flex;
    color: $text-color;
    transition: all 0.5s ease-in-out;
  }
  &--active {
    background: $main-blue-color;
    .burger__text {
      color: $box-color;
    }
    .burger__icon {
      color: $box-color;
    }
  }
  @include laptop-small {
    flex-shrink: 2;
  }

  @include mobile {
    width: unset;
    min-width: unset;
    &__text {
      display: none;
    }
  }
}

.menu {
  position: absolute;
  z-index: 5;
  padding: 24px;
  width: 100%;
  opacity: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(-40px);
  pointer-events: none;
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
  background: rgba(241, 241, 241, 0.8);
  &-content {
    background: $main-blue-color;
    padding: 24px 32px;
    border-radius: 25px;
    width: 100%;
  }
  &--active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    color: $box-color;
  }

  &__close {
    display: flex;
    flex-shrink: 0;
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }

  &__content {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1240px;
    width: 100%;
    justify-content: space-between;
  }

  &__section {
    width: 100%;
    &-title {
      font-weight: 700;
      font-size: 20px;
      color: $box-color;
    }
  }

  &__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding-left: 16px;
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    color: $box-color;
  }
  &__footer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    font-family: $second-family;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: $box-color;
    margin-left: auto;
  }

  &__info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
  }
  &__address {
    font-size: 12px;
    text-align: right;
    color: $box-color;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__contact {
    font-size: 12px;
    color: $box-color;
  }
  @include mobile {
    padding: 16px;

    &__title {
      font-size: 24px;
    }
    &-content {
      padding: 24px;
      max-height: calc(100vh - 180px);
      overflow: auto;
    }
    &__content {
      margin-top: 26px;
      display: flex;
      flex-direction: column;
      justify-content: unset;
      gap: 26px;
    }

    &__section {
      &-title {
        font-size: 16px;
      }
    }

    &__list {
      margin-top: 16px;
      gap: 16px;
      padding-left: 0;
    }
    &__link {
      font-size: 14px;
    }
    &__footer {
      margin-top: 56px;
    }
    &__logo {
      font-size: 24px;
      margin-left: 0;
    }

    &__info {
      flex-direction: column-reverse;
      align-items: unset;
      gap: 17px;
    }
    &__address {
      font-size: 12px;
      text-align: left;
      color: $box-color;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  margin-top: 24px;
  padding: 12px 56px 36px 45px;
  &-head {
    display: flex;
    align-items: flex-start;
    gap: 37px;
  }
  &__logo {
    font-weight: 700;
    font-size: 24px;
    color: $main-blue-color;
    span {
      font-weight: 600;
      color: $text-color;
    }
  }
  &-block {
    display: flex;
    flex-direction: column;
    max-width: 342px;
    min-height: 116px;
    justify-content: space-between;
  }
  &__info {
    font-size: 12px;
    color: $text-color;
    max-width: 282px;
  }
  &-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__element {
      font-weight: 600;
      font-size: 14px;
      color: $text-color;
      &:hover {
        opacity: 1;
        color: #285193;
      }
    }
  }
  &__who {
    margin-left: auto;
    font-size: 14px;
    text-align: right;
    color: rgba(64, 65, 77, 0.5);
  }
  &-bottom {
    margin-top: 97px;
    display: flex;
    &-left {
      display: flex;
      max-width: 580px;
      width: 100%;
      justify-content: space-between;
      gap: 16px;
    }
    &__link {
      font-size: 12px;
      color: $text-color;
      text-decoration: underline;
    }
    &__copyright {
      margin-left: auto;
      font-size: 12px;
      color: $text-color;
    }
  }
  @include mobile {
    margin-top: 24px;
    padding: 0 16px 36px 16px;
    &-head {
      flex-direction: column;
      gap: 16px;
    }
    &-block {
      max-width: 100%;
      min-height: unset;
      gap: 8px;
    }
    &-links {
      gap: 8px;
    }
    &__who {
      margin-left: 0;
      text-align: left;
    }
    &__info {
      max-width: unset;
    }
    &-bottom {
      margin-top: 24px;
      display: flex;
      gap: 16px;
      flex-direction: column;
      &-left {
        flex-direction: column;
        gap: 16px;
      }
      &__link {
        font-size: 12px;
        color: $text-color;
        text-decoration: underline;
      }
      &__copyright {
        margin-left: 0;
        font-size: 12px;
        color: $text-color;
      }
    }
  }
}
.block {
  padding: 32px;
  border-radius: 24px;
  background: $box-color;
  display: flex;
  flex-direction: column;
  @include mobile {
    padding: 40px 24px 24px 24px;
  }
}
.gap-24 {
  gap: 24px;
}

.preview {
  width: 100%;
  &-fill {
    display: flex;
    gap: 24px;
    height: calc(100vh - 148px);
    height: calc(100dvh - 148px);
  }
  &-left {
    display: flex;
    flex-direction: column;

    background: #315494;
    max-width: 560px;
    width: 100%;
    padding: 24px 32px;
    border-radius: 24px;
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
  }
  &__title {
    margin-top: 63px;
    font-weight: 700;
    font-size: 32px;
    color: $box-color;
  }
  &__text {
    margin-top: auto;
    font-size: 20px;
    color: $box-color;
  }
  .link {
    margin-top: 32px;
  }
  &-mid {
    border-radius: 24px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-tel {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 32px 24px;
    background: $box-color;
    border-radius: 24px;
    justify-content: space-between;
    gap: 24px;
    &-icon {
      border: 1px solid $alternative-text;
      border-radius: 24px;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      color: $alternative-text;
      &:hover {
        border-color: #61c554;
        background: #61c554;
        svg {
          color: #ffffff;
        }
      }
    }
    &-open {
      border: 1px solid $alternative-text;
      border-radius: 24px;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      color: $alternative-text;
      &:hover {
        border-color: #315494;
        background: #315494;
        svg {
          color: #ffffff;
        }
      }
    }
  }
  @include laptop {
    &-left {
      max-width: 440px;
    }
    &__title {
      margin-top: 36px;
    }
  }
  @media (max-height: 660px) {
    &-fill {
      height: unset;
    }
  }
  @include mobile {
    &-fill {
      flex-direction: column;
      height: unset;
    }
    &-left {
      padding: 32px 24px;
      max-width: 100%;
    }
    &__description {
      display: none;
    }
    &__title {
      margin-top: 0;
      font-size: 16px;
    }
    &__text {
      margin-top: 16px;
      font-size: 15px;
    }
    .link {
      margin-top: 40px;
    }
    &-mid {
      aspect-ratio: 1 / 1;
    }
    &-tel {
      display: none;
    }
  }
}

.about {
  background: $box-color;
  padding: 40px 48px;
  border-radius: 24px;
  min-height: 539px;
  display: flex;
  flex-direction: column;
  &__annotation {
    font-weight: 400;
    font-size: 14px;
    color: $alternative-text;
  }
  &-fill {
    margin-top: 39px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .video {
    max-width: 404px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 404px;
  }
  &-left {
    max-width: 818px;
  }
  &__text {
    margin-top: 47px;
    font-size: 15px;
    color: #000;
    max-width: 762px;
  }
  .link {
    margin-top: 24px;
    max-width: 762px;
    width: 100%;
  }
  @include mobile {
    padding: 32px 24px;
    min-height: unset;
    &-fill {
      margin-top: 32px;
      flex-direction: column;
    }
    .video {
      margin: 0 auto;
      max-width: 404px;
      min-height: 404px;
    }
    &-left {
      max-width: 100%;
    }
    &__text {
      margin-top: 47px;
      font-size: 14px;
      max-width: 100%;
    }
    .link {
      margin-top: 32px;
    }
  }
}
.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  &--4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &-element {
    padding: 32px;
    border-radius: 32px;
    background: $box-color;
    min-height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: $transition;
    &:hover {
      opacity: 1;
      background: #315494;
      .navigation__title {
        color: $box-color;
      }
      svg {
        path {
          fill: $box-color;
        }
      }
      .navigation__text {
        color: $box-color;
      }
    }
    &--selected {
      background: #315494;
      pointer-events: none;
      .navigation__title {
        color: $box-color;
      }
      svg {
        path {
          fill: $box-color;
        }
      }
      .navigation__text {
        color: $box-color;
      }
    }
  }
  &-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 14px;
    color: $alternative-text;
  }
  &__text {
    font-weight: 700;
    font-size: 24px;
    color: #315494;
  }
  @include laptop {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: 1fr;
    &-element {
      padding: 32px 24px;
      min-height: 153px;
    }
    &__title {
      font-size: 14px;
    }
    &__text {
      font-size: 20px;
    }
  }
}
.form {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
  padding: 16px;
  display: flex;
  overflow: auto;
  &.is-open {
    opacity: 1;
    visibility: visible;

    .form-content {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
  &-content {
    max-width: 936px;
    width: 100%;
    background: $main-blue-color;
    border-radius: 24px;
    padding: 32px;
    color: #fff;
    opacity: 0;
    transform: translateY(40px) scale(0.96);
    transition: 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    margin: auto;
  }
  &-head {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
  }
  &-block {
    transition: 0.3s;

    &.is-hidden {
      opacity: 0;
      transform: translateY(20px);
      pointer-events: none;
      position: absolute;
      inset: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: $box-color;
    &--2 {
      font-size: 40px;
    }
  }
  &__text {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    color: $box-color;
  }
  &__tel {
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    color: $box-color;
    padding-bottom: 16px;
  }
  &-fill {
    margin-top: 24px;

    &__row {
      display: flex;
      gap: 16px;
    }

    input,
    textarea {
      width: 100%;
      margin-bottom: 14px;
      padding: 17px 24px;
      border: 1px solid $box-color;
      border-radius: 16px;
      color: #fff;
      font-size: 16px;
      color: $box-color;
      background: none;
      &::placeholder {
        color: #fff;
      }
    }
    textarea {
      min-height: 240px;
    }
  }
  .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    &__box {
      border: 1px solid $box-color;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      display: flex;
      flex-shrink: 0;
      position: relative;
      vertical-align: middle;
      background: none;
    }
    &__input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      cursor: pointer;
    }
    &__input:checked + .checkbox__box {
      background: #fff;
      border-color: #fff;
    }
    &__text {
      font-weight: 400;
      font-size: 12px;
      color: $box-color;
    }
  }
  &-button {
    margin-top: 16px;
    width: 100%;
    height: 56px;
    border-radius: 32px;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;

    &:hover {
      background: $main-blue-color;
      color: #fff;
    }

    &--submit {
      background: #fff;
      color: #2b5395;
    }

    &--close {
      background: #fff;
      color: #2b5395;
      margin-top: 20px;
    }

    .btn-loader {
      width: 18px;
      height: 18px;
      border: 2px solid rgba(43, 83, 149, 0.3);
      border-top-color: #2b5395;
      border-radius: 100%;
      animation: spin 0.8s linear infinite;
      position: absolute;
      opacity: 0;
    }

    &.is-loading {
      pointer-events: none;

      .btn-text {
        opacity: 0;
      }
      .btn-loader {
        opacity: 1;
      }
    }
  }
  &-info {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    &-right {
      display: flex;
      gap: 24px;
    }
    &__text {
      font-weight: 400;
      font-size: 12px;
      color: $box-color;
      &--link {
        text-decoration: underline;
      }
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @include mobile {
    &-content {
      padding: 32px 24px;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 16px;
    }
    &-fill__row {
      flex-direction: column;
      gap: 0;
    }
    &__tel {
      font-size: 16px;
    }
    &-info {
      flex-direction: column;
    }
  }
}

.desk {
  @include mobile {
    display: none !important;
  }
}
.mob {
  display: none !important;
  @include mobile {
    display: flex !important;
  }
}
