// style.scss
@import "_mixins.scss";
@import "_vars.scss";

.hero {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  &-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 32px 32px 32px;
    min-height: 540px;
    border-radius: 24px;
    background: $box-color;
  }

  &__text {
    margin-top: auto;
    font-family: $second-family;
    font-size: 14px;
    color: #000;
  }
}
.about {
  background: $box-color;
  padding: 40px 48px;
  border-radius: 24px;
  min-height: 539px;
  display: flex;
  flex-direction: column;
  &__annotation {
    font-weight: 400;
    font-size: 14px;
    color: #b4b4b9;
  }
  &-fill {
    margin-top: 39px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .video {
    max-width: 404px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 404px;
  }
  &-left {
    max-width: 818px;
  }
  &__text {
    margin-top: 47px;
    font-size: 15px;
    color: #000;
    max-width: 762px;
  }
  .link {
    margin-top: 24px;
    max-width: 762px;
    width: 100%;
  }
}
