// style.scss
@import "_mixins.scss";
@import "_vars.scss";

.hero {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  &-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 32px 32px 32px;
    min-height: 540px;
    border-radius: 24px;
    background: $box-color;
  }

  &__text {
    margin-top: auto;
    font-family: $second-family;
    font-size: 14px;
    color: #000;
  }
}
.about {
  background: $box-color;
  padding: 40px 48px;
  border-radius: 24px;
  min-height: 539px;
  display: flex;
  flex-direction: column;
  &__annotation {
    font-weight: 400;
    font-size: 14px;
    color: #b4b4b9;
  }
  &-fill {
    margin-top: 39px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .video {
    max-width: 404px;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 404px;
  }
  &-left {
    max-width: 818px;
  }
  &__text {
    margin-top: 47px;
    font-size: 15px;
    color: #000;
    max-width: 762px;
  }
  .link {
    margin-top: 24px;
    max-width: 762px;
    width: 100%;
  }
}
.slider {
  background: $main-blue-color;
  padding: 24px 32px 86px 24px;
  border-radius: 24px;

  &__title {
    font-size: 14px;
    color: $box-color;
  }
  &-head {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  &-loader {
    max-width: 360px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    margin-left: auto;

    &__fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background: $box-color;
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 1px;
    }
  }
  &-list {
    margin-top: 32px;
  }
  &-arrows {
    display: flex;
    gap: 16px;
  }
  &-arrow {
    margin: 0;
    display: flex;
  }
  &-prev {
    transform: rotate(180deg);
  }
  &-element {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  &__img {
    width: 100%;
  }
}
