// style.scss
@import "_mixins.scss";
@import "_vars.scss";

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  &-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 32px 32px 32px;
    min-height: 540px;
    border-radius: 24px;
    background: $box-color;
    &:hover {
      opacity: 1;
      .link {
        background: #285193;
      }
      .link__text {
        color: #fff;
      }
      .link svg {
        color: #fff;
      }
    }
  }

  &__text {
    margin-top: auto;
    font-family: $second-family;
    font-size: 14px;
    color: #000;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-block {
      padding: 40px 24px 24px 24px;
      min-height: 420px;
    }
  }
}
.slider {
  background: $main-blue-color;
  padding: 24px 32px 86px 24px;
  border-radius: 24px;

  &__title {
    font-size: 14px;
    color: $box-color;
  }
  &-head {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  &-loader {
    max-width: 360px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    margin-left: auto;

    &__fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background: $box-color;
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 1px;
    }
  }
  &-list {
    margin-top: 32px;
    cursor: grab;
  }
  &-arrows {
    display: flex;
    gap: 16px;
  }
  &-arrow {
    margin: 0;
    display: flex;
  }
  &-prev {
    transform: rotate(180deg);
  }
  &-element {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    margin-top: 24px;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  &__img {
    width: 100%;
  }

  @include mobile {
    padding-bottom: 32px;
    &__title {
      text-align: center;
      width: 100%;
      font-size: 14px;
    }
    &-arrows {
      margin-top: 38px;
      justify-content: space-between;
      width: 100%;
    }
  }
}
