.hero {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.hero-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 32px 32px 32px;
  min-height: 428px;
  border-radius: 24px;
  background: #fff;
}
.hero__text {
  margin-top: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000;
}
.hero__text span {
  font-weight: 700;
}
@media (max-width: 920px) {
  .hero {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .hero-block {
    padding: 40px 24px 24px 24px;
    min-height: 420px;
  }
}

.statistic-fill {
  display: flex;
  gap: 24px;
}
.statistic-left {
  border-radius: 24px;
  max-width: 394px;
  width: 100%;
  background: #315494;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 24px;
  gap: 24px;
}
.statistic-left__info {
  font-size: 16px;
  color: #fff;
}
.statistic-left__title {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}
.statistic-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
  width: 100%;
}
.statistic-element {
  width: 100%;
  padding: 16px 16px 16px 50px;
  background: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.statistic-element-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.statistic-element__number {
  font-weight: 700;
  font-size: 64px;
  color: #315494;
}
.statistic-element__title {
  margin-top: auto;
  font-weight: 700;
  font-size: 24px;
  color: #315494;
}
.statistic-element__title span {
  font-weight: 400;
  color: #40414d;
}
.statistic-element-decoration {
  border-radius: 24px;
  width: 28px;
  display: flex;
  flex-shrink: 0;
  min-height: 202px;
  background: #315494;
}
.statistic-element--blue .statistic-element__number {
  color: #6986c9;
}
.statistic-element--blue .statistic-element__title {
  color: #6986c9;
}
.statistic-element--blue .statistic-element__title span {
  color: #40414d;
}
.statistic-element--blue .statistic-element-decoration {
  background: #6986c9;
}
.statistic-element--yellow .statistic-element__number {
  color: #ec9f48;
}
.statistic-element--yellow .statistic-element__title {
  color: #ec9f48;
}
.statistic-element--yellow .statistic-element__title span {
  color: #40414d;
}
.statistic-element--yellow .statistic-element-decoration {
  background: #ec9f48;
}
.statistic-right {
  background: #fff;
  border-radius: 24px;
  padding: 24px 32px;
  max-width: 434px;
  width: 100%;
}
.statistic-ring {
  margin: 39px auto 0 auto;
  position: relative;
  width: 312px;
  height: 312px;
}
.statistic-ring__chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#2f519e 0% 67%, #f0a54a 67% 87%, #8196d8 87% 100%);
}
.statistic-ring__element {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.statistic-ring__el--67 {
  top: 65%;
  left: 69%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 44px;
}
.statistic-ring__el--20 {
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}
.statistic-ring__el--13 {
  top: 17%;
  left: 37%;
  transform: translate(-50%, -50%);
  font-size: 26px;
}
.statistic-ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.statistic-ul--2 {
  margin-top: 65px;
}
.statistic-ul li {
  font-size: 18px;
  color: #40414d;
  font-weight: 400;
}
@media (max-width: 1440px) {
  .statistic-left {
    max-width: 268px;
  }
}
@media (max-width: 1165px) {
  .statistic-fill {
    flex-direction: column;
  }
  .statistic-left {
    max-width: 100%;
    padding: 24px;
  }
  .statistic-element {
    padding: 24px 8px 24px 24px;
  }
  .statistic-element-decoration {
    min-height: 59px;
  }
  .statistic-element-left {
    flex-direction: row;
    align-items: center;
  }
  .statistic-element__title {
    margin-top: 0;
  }
  .statistic-right {
    max-width: 100%;
  }
}
@media (max-width: 920px) {
  .statistic-left__title {
    font-size: 24px;
  }
  .statistic-element {
    overflow: hidden;
    padding: 24px 8px 24px 24px;
  }
  .statistic-element__number {
    font-size: 48px;
  }
  .statistic-element__title {
    font-size: 18px;
  }
  .statistic-element-decoration {
    width: 8px;
  }
  .statistic-right {
    padding: 32px 16px;
  }
  .statistic-ring {
    width: 295px;
    height: 295px;
  }
  .statistic-ul li {
    font-size: 16px;
  }
}

.slider {
  background: #285193;
  padding: 24px 32px 86px 24px;
  border-radius: 24px;
}
.slider__title {
  font-size: 14px;
  color: #fff;
}
.slider-head {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.slider-loader {
  max-width: 360px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  border-radius: 1px;
  overflow: hidden;
  margin-left: auto;
}
.slider-loader__fill-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 1px;
}
.slider-loader__fill-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 1px;
}
.slider-list {
  margin-top: 32px;
  cursor: grab;
}
.slider-arrows {
  display: flex;
  gap: 16px;
}
.slider-arrow {
  margin: 0;
  display: flex;
}
.slider-prev {
  transform: rotate(180deg);
}
.slider-element {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.slider__text {
  margin-top: 24px;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.slider__img {
  width: 100%;
}
@media (max-width: 920px) {
  .slider {
    padding-bottom: 32px;
  }
  .slider__title {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  .slider-arrows {
    margin-top: 38px;
    justify-content: space-between;
    width: 100%;
  }
}

.program {
  padding: 48px 32px 32px 32px;
  min-height: 428px;
  background: #fff;
  border-radius: 24px;
  display: flex;
}
.program-fill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  width: 100%;
}
.program-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}
.program__text {
  margin-top: auto;
  font-size: 18px;
  line-height: 133%;
  color: #3a3a3b;
}
.program__text span {
  font-weight: 700;
}
.program-photo {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 920px) {
  .program {
    padding: 40px 24px 24px 24px;
    min-height: unset;
  }
  .program-fill {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .program-left {
    gap: 0;
  }
  .program__text {
    margin-top: 43px;
    font-size: 14px;
  }
  .program-photo__img {
    margin-top: 43px;
    max-width: 221px;
  }
  .program .link {
    margin-top: 24px;
  }
}

.information-fill {
  display: flex;
}
.information-left {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.information-head {
  padding: 40px 32px;
}
.information-head__text {
  font-size: 20px;
}
.information-head__text span {
  color: #315494;
}
.information-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.information-block {
  min-height: 285px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}
.information-block-head {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.information-block__title {
  font-weight: 700;
  font-size: 24px;
  color: #315494;
}
.information__photo {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
@media (max-width: 1200px) {
  .information__photo {
    display: none;
  }
}
@media (max-width: 920px) {
  .information-head {
    padding: 24px;
  }
  .information-list {
    grid-template-columns: 1fr;
  }
  .information-block {
    min-height: 380px;
  }
  .information-block-head {
    flex-direction: column;
    height: 100%;
  }
}

.threats {
  padding: 40px 32px;
  background: #315494;
  border-radius: 24px;
  width: 100%;
}
.threats__title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.threats__text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: #fff;
}
.threats-list {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
  gap: 34px;
}
.threats-element {
  display: flex;
  align-items: center;
  gap: 8px;
}
.threats-element__title {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.threats-element__text {
  margin-top: 3px;
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
}
.threats-element__text span {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.threats .link {
  margin-top: 65px;
  max-width: 521px;
  width: 100%;
}
@media (max-width: 1440px) {
  .threats-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1200px) {
  .threats-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 920px) {
  .threats {
    padding: 32px 24px;
  }
  .threats-list {
    margin-top: 32px;
    grid-template-columns: 1fr;
    gap: 22px;
  }
}/*# sourceMappingURL=security.css.map */