// style.scss
@import "_mixins.scss";
@import "_vars.scss";

.hero {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  &-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 32px 32px 32px;
    min-height: 428px;
    border-radius: 24px;
    background: $box-color;
  }

  &__text {
    margin-top: auto;
    font-family: $second-family;
    font-size: 14px;
    color: #000;
    &--big {
      font-size: 18px;
    }
    span {
      font-weight: 700;
    }
  }
  @include mobile {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-block {
      padding: 40px 24px 24px 24px;
      min-height: 420px;
    }
    &__text {
      font-size: 14px;
    }
  }
}
.statistic {
  &-fill {
    display: flex;
    gap: 24px;
  }
  &-left {
    border-radius: 24px;
    max-width: 394px;
    width: 100%;
    background: #315494;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px;
    gap: 24px;
    &__info {
      font-size: 16px;
      color: $box-color;
    }
    &__title {
      font-weight: 700;
      font-size: 28px;
      color: $box-color;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    width: 100%;
  }
  &-element {
    width: 100%;
    padding: 16px 16px 16px 50px;
    background: $box-color;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    &-left {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__number {
      font-weight: 700;
      font-size: 64px;
      color: #315494;
    }
    &__title {
      margin-top: auto;
      font-weight: 700;
      font-size: 24px;
      color: #315494;
      span {
        font-weight: 400;
        color: $text-color;
      }
    }
    &-decoration {
      border-radius: 24px;
      width: 28px;
      display: flex;
      flex-shrink: 0;
      min-height: 202px;
      background: #315494;
    }
    &--blue {
      .statistic-element {
        &__number {
          color: #6986c9;
        }
        &__title {
          color: #6986c9;
          span {
            color: $text-color;
          }
        }
        &-decoration {
          background: #6986c9;
        }
      }
    }
    &--yellow {
      .statistic-element {
        &__number {
          color: #ec9f48;
        }
        &__title {
          color: #ec9f48;
          span {
            color: $text-color;
          }
        }
        &-decoration {
          background: #ec9f48;
        }
      }
    }
  }
  &-right {
    background: $box-color;
    border-radius: 24px;
    padding: 24px 32px;
    max-width: 434px;
    width: 100%;
  }
  &-ring {
    margin: 39px auto 0 auto;
    position: relative;
    width: 312px;
    height: 312px;

    &__chart {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: conic-gradient(
        #2f519e 0% 67%,
        // 67%
        #f0a54a 67% 87%,
        // 20%
        #8196d8 87% 100% // 13%
      );
    }

    &__element {
      position: absolute;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }

    // Точное позиционирование подписей
    &__el--67 {
      top: 65%;
      left: 69%;
      transform: translate(-50%, -50%);
      color: $box-color;
      font-size: 44px;
    }

    &__el--20 {
      top: 45%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }

    &__el--13 {
      top: 17%;
      left: 37%;
      transform: translate(-50%, -50%);
      font-size: 26px;
    }
  }
  &-ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &--2 {
      margin-top: 65px;
    }
    li {
      font-size: 18px;
      color: $text-color;
      font-weight: 400;
    }
  }

  @include laptop {
    &-left {
      max-width: 268px;
    }
  }
  @media (max-width: 1165px) {
    &-fill {
      flex-direction: column;
    }
    &-left {
      max-width: 100%;
      padding: 24px;
    }
    &-element {
      padding: 24px 8px 24px 24px;
      &-decoration {
        min-height: 59px;
      }
      &-left {
        flex-direction: row;
        align-items: center;
      }
      &__title {
        margin-top: 0;
      }
    }
    &-right {
      max-width: 100%;
    }
  }
  @include mobile {
    &-left {
      &__title {
        font-size: 24px;
      }
    }
    &-element {
      overflow: hidden;
      padding: 24px 8px 24px 24px;
      &__number {
        font-size: 48px;
      }
      &__title {
        font-size: 18px;
      }
      &-decoration {
        width: 8px;
      }
    }
    &-right {
      padding: 32px 16px;
    }
    &-ring {
      width: 295px;
      height: 295px;
    }
    &-ul {
      li {
        font-size: 16px;
      }
    }
  }
}
.slider {
  background: $main-blue-color;
  padding: 24px 32px 86px 24px;
  border-radius: 24px;

  &__title {
    font-size: 14px;
    color: $box-color;
  }
  &-head {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  &-loader {
    max-width: 360px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    margin-left: auto;

    &__fill {
      &-1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: $box-color;
        transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 1px;
      }
      &-2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: $box-color;
        transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 1px;
      }
    }
  }
  &-list {
    margin-top: 32px;
    cursor: grab;
  }
  &-arrows {
    display: flex;
    gap: 16px;
  }
  &-arrow {
    margin: 0;
    display: flex;
  }
  &-prev {
    transform: rotate(180deg);
  }
  &-element {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    margin-top: 24px;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  &__img {
    width: 100%;
  }

  @include mobile {
    padding-bottom: 32px;
    &__title {
      text-align: center;
      width: 100%;
      font-size: 14px;
    }
    &-arrows {
      margin-top: 38px;
      justify-content: space-between;
      width: 100%;
    }
  }
}
// .projects {
//   background: $box-color;
//   padding: 40px 0;
//   .slider__title {
//     font-weight: 700;
//     font-size: 24px;
//     color: $text-color;
//   }
//   .slider-loader {
//     background: $background-color;
//     &__fill-2 {
//       background: #315494;
//     }
//   }
//   .slider-prev-2 {
//     transform: rotate(180deg);
//   }
//   &-element {
//     background: #315494;
//     border-radius: 24px;
//     padding: 40px 32px;
//     height: unset !important;
//     display: flex !important;
//     flex-direction: column !important;
//   }

//   .slider-list-2 {
//     margin-top: 24px;

//     padding: 0 20px;
//   }
//   .slick-track {
//     display: flex !important;
//   }
//   .slider-head {
//     padding: 0 32px;
//   }
//   &__title {
//     font-weight: 700;
//     font-size: 32px;
//     color: $box-color;
//   }
//   &__img {
//     margin-top: 24px;
//     border-radius: 16px;
//     width: 100%;
//     border-radius: 16px;
//   }
//   &__subtitle {
//     margin-top: 24px;
//     font-weight: 700;
//     font-size: 24px;
//     color: $box-color;
//   }
//   &__ul {
//     margin-top: 20px;
//     padding-left: 16px;
//     margin-bottom: 32px;

//     li {
//       font-size: 20px;
//       color: $box-color;
//       line-height: 1.5;
//     }
//   }
//   .link {
//     margin-top: auto;
//   }

//   @include mobile {
//     padding: 32px 0;
//     .slider-head {
//       padding: 0 24px;
//     }
//     .slider__title {
//       text-align: left;
//     }
//     &-element {
//       padding: 32px 16px;
//     }
//     &__title {
//       font-size: 20px;
//     }
//     .slider-list-2 {
//       padding: 0 12px;
//     }
//     &__img {
//       margin-top: 8px;
//     }
//     &__subtitle {
//       font-size: 16px;
//       margin-top: 8px;
//     }
//     &__ul {
//       margin-top: 8px;
//       li {
//         font-size: 14px;
//       }
//     }
//     .slider-arrows {
//       margin-top: 24px;
//       padding: 0 24px;
//     }
//   }
// }
.program {
  padding: 48px 32px 32px 32px;
  min-height: 428px;
  background: $box-color;
  border-radius: 24px;
  display: flex;
  &-fill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    width: 100%;
  }
  &-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
  }
  &__text {
    margin-top: auto;
    font-size: 18px;
    line-height: 133%;
    color: #3a3a3b;
    span {
      font-weight: 700;
    }
  }
  &-photo {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  @include mobile {
    padding: 40px 24px 24px 24px;
    min-height: unset;
    &-fill {
      display: flex;
      align-items: center;
      width: 100%;
    }
    &-left {
      gap: 0;
    }
    &__text {
      margin-top: 43px;
      font-size: 14px;
    }
    &-photo {
      &__img {
        margin-top: 43px;
        max-width: 221px;
      }
    }
    .link {
      margin-top: 24px;
    }
  }
}
.information {
  &-fill {
    display: flex;
  }
  &-left {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-head {
    padding: 40px 32px;
    &__text {
      font-size: 20px;
      span {
        color: #315494;
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-block {
    min-height: 285px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    &-head {
      display: flex;
      align-items: flex-start;
      width: 100%;
      justify-content: space-between;
    }
    &__title {
      font-weight: 700;
      font-size: 24px;
      color: #315494;
    }
  }
  &__photo {
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }

  @include laptop-small {
    &__photo {
      display: none;
    }
  }
  @include mobile {
    &-head {
      padding: 24px;
    }
    &-list {
      grid-template-columns: 1fr;
    }
    &-block {
      min-height: 380px;
      &-head {
        flex-direction: column;
        height: 100%;
      }
    }
  }
}
.threats {
  padding: 40px 32px;
  background: #315494;
  border-radius: 24px;
  width: 100%;
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: $box-color;
  }
  &__text {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: $box-color;
  }
  &-list {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 34px;
  }
  &-element {
    display: flex;
    align-items: center;
    gap: 8px;
    &__title {
      font-weight: 600;
      font-size: 16px;
      color: $box-color;
    }
    &__text {
      margin-top: 3px;
      display: inline-flex;
      gap: 8px;
      flex-wrap: wrap;
      span {
        font-weight: 500;
        font-size: 14px;
        color: $box-color;
      }
    }
  }
  .link {
    margin-top: 65px;
    max-width: 521px;
    width: 100%;
  }
  @include laptop {
    &-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include laptop-small {
    &-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include mobile {
    padding: 32px 24px;
    &-list {
      margin-top: 32px;
      grid-template-columns: 1fr;
      gap: 22px;
    }
  }
}
